* text=auto
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
*.js linguist-language=TypeScript
*.jsx linguist-language=TypeScript
*.json linguist-language=TypeScript
CMakeLists.txt linguist-vendored
